.main-wrapper{
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    position: sticky;
    align-items: center;
    width: auto;
    z-index: 99;
}
.vac{
    align-items: center;
    height: 200px;
    width: 200px;
}
.data{
    font-size: xxx-large;
    font-family: cursive;
}